<div class="about-container">
  <h1>Kim jesteśmy i dlaczego iMerch</h1>
  <div class="content-wrapper">
    <div class="image-container">
      <img
        src="../../../../assets/images/landing/music.svg"
        alt="Placeholder Image"
      />
    </div>
    <div class="text-container">
      <p>
        Jesteśmy muzykami, artystami, twórcami. Spotkaliśmy się w naszej sali
        prób, gdzie każdy z nas wyrażał swoją kreatywność i pasję. Zauważyliśmy
        jednak problem - wiele niezwykle utalentowanych osób nie miało
        możliwości promować swoich zespołów, swoich projektów, swojej sztuki.
        Postanowiliśmy to zmienić. Tak powstał iMerch - platforma "print on
        demand", która daje możliwość promowania i sprzedaży swoich unikalnych
        projektów. Dzięki iMerch, artyści z całego świata mogą łatwo i
        efektywnie dzielić się swoją sztuką, osiągając tym samym sukces, na
        który zasługują.
      </p>
    </div>
  </div>
</div>
