@import './variables.scss';
@import './mixins.scss';


/* _buttons.scss */

@mixin button($bcolor, $bor, $col) {
  background: $bcolor;
  border: $bor;
  color: $col;
}

.button {
  position: relative;
  width: 100px;
  height: 50px;
  overflow: hidden;
  border: 1px solid $black;
  font-family: $font-family;
  transition: 0.5s;
  letter-spacing: 1px;
  border-radius: 8px;
  background-position: 0 0;

  &:hover {
    background-color: lighten($primary, 10%);
    background-position: 100% 0;
    transition: background-position 0.7s;
  }

  &:not(:hover) {
    background-position: 0 0;
    transition: background-position 0.7s;
  }

  @include button($primary, none, $white);
}
